/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.storename {
  padding: 0px;
  list-style: none;
}
.topBar .fl-rich-text .storename .phone a span:before {
  text-indent: 0;
  content: "\f095";
  font: normal normal normal 18px/1 FontAwesome;
  margin-top: 2px;
  margin-right: 10px;
}
.fl-module .gform_wrapper .gfield .ginput_container select {
  padding-top: 9px !important;
  padding-left: 6px !important;
}
.gform_legacy_markup_wrapper .gfield_time_hour i {
  float: none;
  margin-top: 20px !important;
  clear: right;
  margin-left: 5px !important;
}
.button-wrapper .getcoupon-btn {
  color: #eef0ee;
  background-color: #173384 !important;
}
.button-wrapper .getcoupon-btn:hover {
  color: #eef0ee !important;
  background-color: #1e212c !important;
}
.gfield_captcha_input_container input {
  max-width: 80px !important;
}
.fl-button {
  text-decoration: none;
}
.fl-module
  .gform_wrapper
  .gfield
  .ginput_container_select
  select.gfield_select {
  margin-top: 0px !important;
}
.ua-icon-cross2:before {
  content: "\f00d";
}
.ua-icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fl-col
  .fl-module
  #gform_wrapper_15.gform_wrapper
  .gfield
  .ginput_container
  select {
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px !important;
  height: auto !important;
}
.uabb-gf-style .ginput_container_select:after {
  top: 42%;
  -webkit-transform: translateY(-42%);
  -ms-transform: translateY(-42%);
  transform: translateY(-42%);
}
.facet_filters .facet-wrap > strong {
  padding-bottom: 3px;
  border-bottom: 2px solid #173384 !important;
  color: #173384;
}
.uabb-creative-menu.off-canvas .menu > li .storename .phone a span:before {
  text-indent: 0;
  content: "\f095";
  font: normal normal normal 18px/1 FontAwesome;
  margin-top: 2px;
  margin-right: 10px;
}
.fl-content-slider .fl-content-slider-wrapper .fl-slide .fl-slide-text > p {
  margin: 0px !important;
  display: none;
}
.storename p,
.storename span {
  margin: 0px !important;
}

ul.store-opening-hrs {
  list-style: none;
  padding: 0px;
}
li.uabb-tab-current a span {
  border-bottom: 5px solid #00226c;
}
nav.uabb-tabs-nav {
  padding-bottom: 30px;
}
.p-issue .fl-rich-text > p {
  display: none !important;
}
.pos-relative {
  position: relative !important;
}
.man-img .fl-col-content {
  position: absolute;
  max-width: 540px;
  top: -190px;
  z-index: 99;
  left: 10%;
}
.p-issue .storename {
  margin-bottom: -5px;
}
.fl-slide-0 .fl-slide-content-wrap > .fl-slide-content > .fl-slide-text > p {
  display: none !important;
}
footer a:hover {
  text-decoration: underline !important;
}
footer .njba-btn-main a:hover {
  text-decoration: none !important;
}
footer ul.social-icons li a:hover,
footer ul.social-icons li a:hover * {
  color: #173384 !important;
}
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
}
.custom_searchHeader .fl-icon-wrap{
	vertical-align: middle;
}
.custom_searchHeader .fl-icon i, .dropIcon.uabb-offcanvas-trigger {
	cursor: pointer;
}
.fl-row.custom_searchModule > .fl-row-content-wrap {
    padding: 20px!important;
}

/* #menu-footer-main-nav{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu-footer-main-nav li{
	width: 100% !important;
} */
/* #menu-footer-main-nav li:first-child{
	text-align: left
} */
#menu-footer-main-nav li:last-child {
  text-align: right;
}
/* .fl-post-grid-gallery{
    background-size: contain!important;
    background-position: center center!important;
} */

.fl-page-header-primary .fl-logo-img {
  max-width: 70%;
}
.gform_wrapper .gfield_checkbox li input,
.gform_wrapper .gfield_checkbox li input[type="checkbox"],
.gform_wrapper .gfield_radio li input[type="radio"] {
  margin: 2px !important;
  vertical-align: top;
}
/* light product css start here */
.single-lighting_product .product-detail-layout-6 .product-box h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}
.single-lighting_product .product-box h4 {
  font-weight: 700;
  font-size: 22px;
}
.single-lighting_product .product-box table th {
  font-weight: 700;
  font-size: 18px;
  width: 180px;
}
.single-lighting_product .product-box table {
  width: 100%;
}
.single-lighting_product .product-detail-layout-6 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.single-lighting_product .product-detail-layout-6 hr {
  border-top: 1px solid #000;
}
.single-lighting_product .product-box table tr.buttonTOshow > th {
  padding: 10px 0px;
  color: #173384;
}
.single-lighting_product .product-box table tr.buttonTOshow {
  cursor: pointer;
}
.single-lighting_product .product-swatch img {
  max-width: 500px;
}
.fl-content-slider-navigation a:after {
 filter: drop-shadow(0px 0px 5px #000000);
}
/* light product css end here */
.fl-slide.fl-slide-3 .fl-slide-photo-wrap .fl-slide-photo {
  margin-top: 90px !important;
}
.fl-post.post .fl-post-image-beside,
.fl-post.post .fl-post-image-beside a,
.fl-post.post .fl-post-image-beside a img {
  width: 100%;
}
.location-top .storename li .direction a {
  padding: 20px !important;
}
.spacer ul {
  align-items: center;
}

.product-colors ul li.found {
  margin-right: 5px;
}

.moove-gdpr-button-holder>button.mgbutton {
  background-color: #fff!important;
  color: #26241f!important;
  border-radius: 0px!important;
  font-family: "Jost",sans-serif!important;
  font-weight: 600!important;
  text-transform: uppercase!important;
  box-shadow: none !important;
  border: none!important;
}
.moove-gdpr-button-holder>button.mgbutton:hover {
  background: #000!important;
  color: #fff!important;
  text-transform: uppercase!important;
  border-color: #000!important;
}
#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #173384;
  border-top: 1px solid #fff;
}
#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #fff!important;
  opacity: 0.7;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
  color: #26241f!important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
  background-color: #173384!important;
  border: 1px solid #000!important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
  color: #26241f!important;
  background-color: #fff!important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #26241f !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #173384!important;
  color: #fff!important;  
  border: 0px!important;
  border-radius: 0px!important;
  font-family: "Jost",sans-serif!important;
  font-weight: 600!important;
  text-transform: uppercase!important;  
    
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000!important;
  color: #fff!important;
  border: 0px!important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #173384!important;
}
.product-plp-grid>.product-row>.col-lg-4>.fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, .row.search-row .posts_search_result.post_list.product-grid.swatch h2 {
    min-height: 34px !important;
}
/* flyer css start here */


.changeLocation .content {
	overflow-y: auto;
    height: 100%;
}
#storeLocation:before {
	content: "";
	width: 0;
	height: 0;
	border-left: 35px solid transparent;
	border-right: 35px solid transparent;
	border-bottom: 30px solid #173384;
	position: absolute;
	bottom: 100%;
	filter: drop-shadow(0 -2px 2px rgba(0,0,0,0.15));
	left: 50%;
	transform: translateX(-50%);
}

.content .title-prefix, .content .store-add{
	margin: 0px!important;
}
#storeLocation .content a{
	color: #000!important;
}	
#storeLocation .title-prefix, .header_store .store-cta-link .title-prefix, 
.header_store .store-cta-link .title-prefix-fix {
	font-size: 14px!important;
    font-weight: 700!important;
	font-family: "Jost", sans-serif;
	text-transform: uppercase;

}
#storeLocation .store_wrapper p, 
#storeLocation .store_wrapper h5, 
#storeLocation .store_wrapper a{
	   font-family: "Jost", sans-serif;
}
.content .store_wrapper {
padding: 30px 30px;
border-bottom: 1px solid rgba(204,204,204,0.28);
    margin: auto;
}

.changeLocation .closebtn{
	display: none;
}
.changeLocation .closebtn:hover{

 color: #000;
}
.locationWrapFlyer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.locationWrapFlyer .icons > i {
    font-size: 34px;
    color: #d4da5f!important;
}

.locationWrapFlyer .icons {
    padding: 0px 12px 12px 12px;
}

.locationWrapFlyer .contentFlyer > p, .contentFlyer  h3 {margin: 0px;}

.locationWrapFlyer .contentFlyer h3 {
    font-size: 16px;
    font-weight: 900;
	text-transform: uppercase;
}
.locationWrapFlyer a#openFlyer {
    font-size: 12px;
	    font-style: normal;
	color: #173384!important;
}
.contentFlyer *{
	font-family: "Jost", sans-serif;
}   
.contentFlyer .storeLink a {
	font-size: 14px!important;
}
.store_wrapper h5.title-prefix-fix {
    margin-bottom: 0px !important;
    font-weight: 700;
}
.contentFlyer .mobile_phone, .locationWrapFlyer .contentFlyer > p, .locationWrapFlyer .storeLink a  {
    font-size: 14px!important;
}
#storeLocation .store_wrapper.active .myStore {
    font-weight: 700;
}
#storeLocation .store_wrapper.active .choose_location {
    display: none;
}
#storeLocation .store_wrapper.active  * {
   filter: drop-shadow(0px 0px 100px #000);
}
  
/* Flyer css start here */

.locationWrapFlyer .contentFlyer .phone a:before {
    content: "\f095";
    font-size: 14px!important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}
.contentFlyer p{
	line-height: 0.9em;
	font-size: 10px!important;
	color: #000000!important;
    text-transform: capitalize;
}  
.contentFlyer > p {
    padding-bottom: 0px!important;
	color: #000 !important;
	text-transform: uppercase;
}  
/* .locationWrapFlyer .contentFlyer h3, #storeLocation .store_wrapper h5:first-child {
    color: #000;
    font-size: 12px;
    line-height: 1.3em;
	font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 0px;
	font-family: Poppins, sans-serif!important;
} */
.locationWrapFlyer .contentFlyer .mobile a{
    color: #000!important;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3em;
	margin-top: 5px!important;
    display: inline-block;
    margin-bottom: 5px!important;
    
}
/* .locationWrapFlyer .contentFlyer .mobile:before {
    content:"\f095";
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-right: 5px;
} */
.locationWrapFlyer  .dropIcon:after {
     content:"\f078 ";
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-left: 5px;
}

.locationWrapFlyer  .dropIcon {
    display: flex;
    align-items: flex-start;
    margin-top: -5px;
	margin-left: 5px;
}

.content .store-add{
	color: #000000;
    font-weight: 300;
    font-size: 14px;
    max-width: 220px;
}
.changeLocation .closebtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: #9b9b9b!important;
}
#storeLocation .store_wrapper a{
	font-size: 12px!important;
}

#storeLocation .store-phone, #storeLocation .store-hour, #storeLocation .content .choose_location, #storeLocation .content .view_location {
     margin-bottom: 10px!important;
    display: block;
}
#storeLocation .store-hour{
	color: #000!important;
    font-weight: 400;
    font-size: 14px!important;
    text-transform: capitalize;
    margin-top: 16px;
	margin-bottom: 16px!important;
}
#storeLocation .store-phone a{
	color: #000!important;
    font-weight: 400;
    font-size: 12px!important;
    text-transform: capitalize;
}
#storeLocation .store-phone a:before{ 
    content:"\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #000;
    margin-right: 5px;
}

.content .view_location:before{
	content: "\f041";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
	margin-right: 4px!important;
    font-size: 14px;
}
#storeLocation .store_wrapper *, #storeLocation a:before, #storeLocation p > a, #storeLocation .store-phone a, #storeLocation .content a{
    color: #fff!important;
}
#storeLocation .content .store_wrapper > a.choose_location{
	color: #fff!important;
	text-transform: uppercase;
	font-size: 12px!important;
	margin-top: 10px!important;
	cursor: pointer;
}
#storeLocation .content .store_wrapper a:hover {
	color: #fff!important;
	text-decoration: 2px solid #fff underline;
}
#storeLocation .store_wrapper .store-add {
    margin-top: 10px!important;
    font-weight: 400; 
}
#storeLocation .store_wrapper {
    background-color: #173384;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
	background-size: cover;
}
.changeLocation .content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 30%) !important;
}
.changeLocation .content::-webkit-scrollbar-thumb {
    background-color: #000 !important;
}
.changeLocation .content::-webkit-scrollbar {
    width: 0.7em !important;
}
.fl-row.fl-row-full-width.mobHeader .header_location_Title, 
.fl-row.fl-row-full-width.mobHeader .contentFlyer .storeLink {
    display: none!important;
}

.fl-row.fl-row-full-width.mobHeader .contentFlyer > p {
    font-size: 9px!important;
}

.fl-row.fl-row-full-width.mobHeader .contentFlyer .header_location_name {
    font-size: 12px;
}
.fl-row.fl-row-full-width.mobHeader .contentFlyer .mobile_phone {
    font-size: 12px;
}
.fl-row.fl-row-full-width.mobHeader .infobox-left .uabb-imgicon-wrap {
    margin-right: 5px!important;
}
.fl-row.fl-row-full-width.mobHeader .uabb-creative-menu-mobile-toggle.hamburger {
    padding-left: 5px!important;
}

div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #173384  !important;
    color: #173384  !important;
}
@media (max-width: 1440px ) {
	.changeLocation {
		height: 100%;
	}
	.ipadLandPH0 .fl-col-content {
		padding: 0px!important;
	}
}

@media (max-width: 1200px ) {
	.mainmenu .uabb-creative-menu.uabb-menu-default .menu > li > a, 
.mainmenu .uabb-creative-menu.uabb-menu-default .menu > li > .uabb-has-submenu-container > a {
    padding-left: 10px!important;
    padding-right: 10px!important;
    font-size: 11px!important;
}
}
/* Flyer css end here */

@media (min-width: 992px) {

div#design_consultation .fl-slide-foreground {
    bottom: 0px !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
div#design_consultation .fl-slide-foreground .fl-slide-photo {
    margin-bottom: 0px!important;
	margin: 0px!important;
}
div#design_consultation .fl-slide-foreground .fl-slide-photo-wrap {
    bottom: 0px !important;
    position: absolute;
}
	.homeSlider .fl-module-content-slider .bx-viewport {
    height: auto !important;
  }
	.fl-slide-foreground {
		 bottom: 0;
		 left: 0;
		 position: absolute;
		 right: 0;
		 top: 0;
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 justify-content: center;
	 }
	 .fl-slide-content-wrap {
		 width: 100%;
	 }
	 .fl-slide-content {
		margin: 0px!important;
	}
	.fl-slide.fl-slide-text-center .fl-slide-photo img {
		display: inline-block;
	}
}
@media (max-width: 1080px) {
  .fl-module .uabb-ultb3-box h4.uabb-ultb3-title {
    font-size: 20px !important;
  }

  div .uabb-creative-menu.off-canvas .menu > li > a {
    text-align: left !important;
    padding-left: 20px !important;
  }
  .active-gallery-modal .fl-row-content-wrap .col-md-8 {
    width: 63% !important;
  }
  .active-gallery-modal .fl-row-content-wrap .col-md-4 {
    width: 25% !important;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 90% !important;
  }
  .fl-page-nav .navbar-nav li > a {
    font-size: 14px;
    padding: 15px 5px;
  }
  .homeLoc .fl-col-group > .fl-col {
    width: 100% !important;
  }
}
@media (max-width: 1080px) and (min-width: 992px) {
  .SliderCta .fl-col-content .fl-module-content {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .SliderCta .fl-col-content .fl-module-content .uabb-infobox-title-wrap h4 {
    font-size: 20px !important;
  }
  .fl-node-1gh4u9f8xymn .uabb-ultb3-box .uabb-ultb3-title {
    color: #ffffff;
    margin-top: 310px;
    margin-bottom: 0px;
  }
  .reqFin a {
    font-size: 14px !important;
  }
}
@media (max-width: 992px) {
	.fl-module.ipaddresWrap .uabb-module-content > div {
		text-align: center!important;
	}
	.fl-module.ipaddresWrap .uabb-infobox-content {
		max-width: 200px;
		text-align: left;
	}	
  .fl-page-nav-search {
    display: block !important;
  }
  .spacer ul {
    flex-direction: column;
  }
  .uabb-infobox.infobox-left.infobox-has-photo .uabb-image-content,
  .uabb-infobox.infobox-left.infobox-has-photo .uabb-image-content img,
  .fl-module-photo .fl-photo.fl-photo-align-right .fl-photo-content,
  .fl-module-photo .fl-photo.fl-photo-align-right .fl-photo-content img,
  .fl-module-photo .fl-photo.fl-photo-align-left .fl-photo-content,
  .fl-module-photo .fl-photo.fl-photo-align-left .fl-photo-content img {
    width: 100%;
    display: block;
  }
  .img-width-auto .uabb-infobox.infobox-has-photo .uabb-image-content,
  .img-width-auto .uabb-infobox.infobox-has-photo .uabb-image-content img {
    width: auto;
    margin: 0 auto;
    display: inline-block;
    max-width: 150px;
  }
  .uabb-ultb3-img.uabb-ultb3-img-center,
  .uabb-ultb3-img.uabb-ultb3-img-top-center,
  .uabb-ultb3-img.uabb-ultb3-img-bottom-center {
    width: 100% !important;
  }
	div#design_consultation .fl-slide-mobile-photo {
		top: auto;
		left: 50%;
		transform: translate(-50%, 0%);
		bottom: 0px!important;
	}
	div#design_consultation .fl-slide-mobile-photo img {
		padding: 0px;
		left: 0px!important;
		position: relative;
	}
	div#design_consultation .fl-slide-mobile-photo img {
		object-fit: contain;
		object-position: bottom;
	}
}

@media (max-width: 992px) {
  .mobBtnCenter .njba-btn-main,
  .mobBtnCenter .fl-rich-text {
    text-align: center;
  }

  .uabb-module-content.uabb-photo-gallery.uabb-gallery-grid4.zoom-in > div,
  .pp-photo-gallery > div {
    flex: 0 0 50%;
  }
  .pp-photo-gallery,
  .uabb-module-content.uabb-photo-gallery.uabb-gallery-grid4.zoom-in {
    display: flex;
    flex-wrap: wrap;
  }
  .active-gallery-modal .product-box a.fl-button {
    margin: 0px auto;
  }
  .gform_widget .gform_wrapper .timeEstimate .gfield_time_ampm select {
    max-width: 60px !important;
    width: 60px !important;
  }

  .active-gallery-modal .fl-row-content-wrap .col-md-4 {
    width: 35% !important;
  }
  .fl-builder-content
    .fl-module-content-slider
    .fl-module-content
    .fl-content-slider
    .fl-slide
    .fl-slide-content {
    padding: 0px !important;
  }
  .fl-builder-content
    .fl-module-content-slider
    .fl-slide
    .fl-slide-content-wrap {
    width: 100% !important;
  }
  .fl-builder-content
    .fl-module-content-slider
    .fl-slide
    .fl-slide-text
    .heading
    .fl-rich-text
    p,
  .fl-builder-content
    .fl-module-content-slider
    .fl-slide
    .fl-slide-text
    .heading
    .fl-rich-text
    h1 {
    font-size: 32px !important;
    line-height: 1.4em !important;
  }
  .fl-builder-content
    .fl-module-content-slider
    .fl-slide
    .fl-slide-text
    .text
    .fl-rich-text
    p {
    font-size: 16px !important;
    line-height: 1.4em;
  }
  .fl-col-content .locationTab .fl-module-content nav.uabb-tabs-nav {
    display: block !important;
  }
  .locationTab .section .uabb-tab-acc-title {
    display: none !important;
  }
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 450px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 450px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 450px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 450px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 450px !important;
    max-height: 450px !important;
  }
  .product-attributes table {
    table-layout: fixed !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: +2;
  }
	
/* 	div#design_consultation .fl-slide-mobile-photo {
		bottom: 0% !important;
		position: absolute;
		z-index: 2;
		top: auto;
		left: auto;
		transform: translate(0%, 0%);
	}*/

	div#design_consultation .fl-slide-mobile-photo img {
/* 		padding-bottom: 0px!important; */
		object-fit: contain;
        object-position: center;
	} 
}

@media (max-width: 767px) {
  .gform_legacy_markup_wrapper
    li.field_sublabel_below.timeEstimate
    .ginput_complex,
  .gform_legacy_markup_wrapper
    li.field_sublabel_below.timeEstimate
    .ginput_complex
    .ginput_container_time,
  .timeEstimate label {
    margin-top: 0px !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-per-page,
  .facetwp-pager {
    float: none;
  }
  .facetwp-per-page,
  .facetwp-pager,
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }
  ul.fl-page-bar-nav li {
    /*         display: none; */
    display: block;
    padding: 2px 0;
  }
  ul.fl-page-bar-nav li:first-child {
    display: block;
  }
  /* ul.fl-page-bar-nav li:first-child{
        display: block;
    } */
  #responsive-menu-additional-content a {
    color: #fff;
  }
  .responsive-menu-open button#responsive-menu-button {
    position: fixed !important;
  }
  .active-gallery-modal .fl-row-content-wrap .col-md-8 {
    width: 100% !important;
  }
  .active-gallery-modal .fl-row-content-wrap .col-md-4 {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  h1.uabb-infobox-title {
    font-size: 38px !important;
    line-height: 1.4em !important;
  }
  h2.uabb-infobox-title,
  h2.uabb-ultb3-title,
  h2.fl-heading,
  h2.fl-heading span {
    font-size: 32px !important;
    line-height: 1.4em !important;
  }
  .uabb-imgicon-wrap ~ .uabb-infobox-title-wrap h2.uabb-infobox-title {
    font-size: 16px !important;
    line-height: 1.4em !important;
  }
  h3.uabb-infobox-title,
  h3.uabb-ultb3-title,
  h3.fl-heading,
  h3.fl-heading span {
    font-size: 32px !important;
    line-height: 1.4em !important;
  }
  .sliderOverlap h3.uabb-infobox-title {
    font-size: 18px !important;
    line-height: 1.4em !important;
  }
  footer h3.fl-heading,
  footer h3.fl-heading span {
    font-size: 20px !important;
    line-height: 1.4em !important;
  }
  .homeCta .uabb-ultb3-box .uabb-ultb3-title {
    margin-top: 0px !important;
  }
  .homeCta .uabb-module-content img {
    width: 100% !important;
  }
}

@media (max-width: 450px) {
  .icon-bg .font-icon-preview {
    margin-top: 20px;
  }
  .fl-page-bar .text-right {
    display: none;
  }
  .facetwp-per-page,
  .facetwp-pager {
    text-align: center !important;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
  }
  #product-list-top-filters .fl-col-group .fl-col:last-child {
    width: 100% !important;
  }
  .facetwp-page {
    margin-right: 3px !important;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 60% !important;
  }
  button#responsive-menu-button {
    top: 110px !important;
  }
  /*     button#responsive-menu-button {
        top: 155px!important;
    } */
  .fl-builder-content .footer-sect-wrap {
    width: 100% !important;
  }
  .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right
    .fl-page-header-row
    .fl-page-header-logo {
    padding-bottom: 0px;
  }
	 .home .fl-content-slider .fl-slide {
        min-height: 380px !important;
        max-height: 380px !important;
    }
.home  .fl-content-slider  .fl-slide-bg-photo {
        position: absolute !important;
        min-height: 380px !important;
    }
}

@media (max-width: 390px) {
  .fl-page-bar {
    font-size: 11px;
  }
}

/* 12-6-2029 */

#label_13_11_1:before {
  background: transparent;
  border: 1px solid #ccc;
  height: 12px;
  width: 12px;
  border-radius: 0px;
  font-size: 9px;
  color: #000;
  padding: 0;
}

.product-detail-layout-5 .product-variations {
  margin-top: 0px !important;
}

#menu-main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#menu-main-menu > li {
  padding: 0 20px !important;
  width: 100% !important;
  text-align: center !important;
}
#menu-main-menu > li:hover,
#menu-main-menu > li.current_page_item {
  background: #000000 !important;
}
header input.fl-search-text {
  border-radius: 30px !important;
}
header .fl-search-form-inline .fl-form-field {
  padding-right: 0;
}
.fl-search-form-fields {
  position: relative !important;
}
.fl-search-form-fields > .fl-button-wrap a,
.fl-search-form-fields > .fl-button-wrap a:hover {
  border-radius: 0 100px 100px 0 !important;
  background-color: #e0e0e0 !important;
  padding: 12px 20px !important;
}
.fl-search-form-fields
  .fl-button-wrap.fl-button-width-auto.fl-button-center.fl-button-has-icon {
  position: absolute;
  right: 0;
}
.fl-builder-content .fl-search-form-fields .fl-button i {
  font-size: 24px !important;
  color: #173384 !important;
}
.pos-relative {
  position: relative !important;
}
.bx-wrapper .bx-controls-auto,
.bx-wrapper .bx-pager {
  bottom: 100px !important;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  opacity: 0.66 !important;
  border-radius: 6px !important;
  background-color: #eaeaea !important;
}
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
  background-color: #ffffff !important;
  opacity: 1 !important;
}
.icon-bg .font-icon-preview {
  background: #fff;
  border-radius: 50%;
  padding: 7px 12px;
  text-align: center;
  margin-left: 20px;
}
.icon-bg .font-icon-preview .fas.fa-arrow-right {
  padding-left: 0px !important;
}
.icon-size-issue .dashicons-arrow-right:before {
  content: "\f139";
  font-size: 30px !important;
  margin-top: -5px;
  margin-left: 10px;
}
.bg-gradient {
  background: linear-gradient(
    359.67deg,
    rgba(255, 255, 255, 0) 0%,
    #e6e3de 99.27%,
    #e6e3de 100%,
    rgba(231, 228, 223, 0.98) 100%
  );
}
.fl-module-content-slider .bx-wrapper {
  margin: 0 auto 0px !important;
}
header input.fl-search-text {
  font-style: italic;
  padding-left: 30px !important;
}
.search-box {
  position: relative;
  z-index: 2;
}
.help-btn
  a.uabb-button.ast-button.uabb-creative-button.uabb-creative-default-btn {
  display: inline-flex;
  position: fixed;
  bottom: 140px !important;
  right: 0px !important;
  z-index: 99999;
}
.help-btn span.uabb-button-text.uabb-creative-button-text {
  padding-left: 10px;
  padding-right: 20px;
}
.help-btn .fa-comment-dots {
  font-size: 33px !important;
}
.icon-bg strong {
  border-bottom: 1px solid #fff;
}
a.slider-next:after {
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  text-rendering: auto;
  color: #fff;
  content: "\f061";
  width: 30px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  font: normal normal normal 30px /1 FontAwesome !important;
}
a.slider-prev:after {
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  text-rendering: auto;
  color: #fff;
  content: "\f060";
  width: 30px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  font: normal normal normal 30px /1 FontAwesome !important;
}
a.slider-next svg,
a.slider-prev svg {
  display: none;
}
.bx-pager-item a {
  height: 12px;
  width: 25px;
  opacity: 0.66 !important;
  border-radius: 6px !important;
  background-color: #eaeaea !important;
}
.bx-pager-item a.active {
  background-color: #ffffff !important;
  opacity: 1 !important;
  width: 50px !important;
}

/* 05-12-2013 Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #173384;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #173384;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 14px;
  font-weight: 700;
}

.facetwp-selections ul li .facetwp-selection-value,
.facetwp-facet{
  font-size: 14px;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  /* ============================  PLP Page Css iPad Air ============================  */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px;
  }
  .open_sidebar a {
    float: unset;
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }
  .facetwp-per-page select {
    border: 1px solid #000;
  }

  /* ============================ PLP Page Css iPad Air ============================ */
}

@media (max-width: 820px) {
  .fl-builder-content .fl-node-f1xkh6boja2c .fl-rich-text *:not(b, strong) {
    text-align: center;
  }
  .fl-builder-content .fl-node-jmh9lisac2rg .fl-rich-text *:not(b, strong) {
    text-align: center;
  }
  .fl-node-fg1iox9y3qkt .fl-button-wrap {
    text-align: center;
  }

  .fl-node-id0jgr95w14x .uabb-infobox-title-prefix {
    line-height: normal;
    text-align: center;
  }

  .fl-node-iwl51fvytdsn h3.uabb-infobox-title,
  h3.uabb-ultb3-title,
  h3.fl-heading,
  h3.fl-heading span {
    font-size: 25px !important;
    line-height: 1.4em !important;
    text-align: center;
  }

  img.uabb-photo-img.wp-image-1249045.size-full {
    width: 50% !important;
    text-align: center;
    margin: 0 auto;
  }
  img.uabb-photo-img.wp-image-1248760.size-full {
    width: 50% !important;
    text-align: center;
    margin: 0 auto;
  }
  img.uabb-photo-img.wp-image-366700.size-full {
    width: 50% !important;
    text-align: center;
    margin: 0 auto;
  }
  img.uabb-photo-img.wp-image-1238605.size-full {
    width: 50% !important;
    text-align: center;
    margin: 0 auto;
  }
  img.uabb-photo-img.wp-image-1248347.size-full {
    width: 50% !important;
    text-align: center;
    margin: 0 auto;
  }
  img.uabb-photo-img.wp-image-1248348.size-full {
    width: 50% !important;
    text-align: center;
    margin: 0 auto;
  }
  img.uabb-photo-img.wp-image-1248358.size-full {
    width: 50% !important;
    text-align: center;
    margin: 0 auto;
  }

  img.uabb-photo-img.wp-image-1163565.size-medium {
    width: 50% !important;
    text-align: center;
    margin: 0 auto;
  }

  .fl-node-5cf7f6ce65f4b
    .uabb-creative-button-wrap.uabb-button-reponsive-left.uabb-creative-button-reponsive-left {
    text-align: center;
  }

  .support-logo img {
    width: 150px;
    margin: 0 auto;
  }

  img.uabb-photo-img.wp-image-1162655.size-full {
    width: 150px !important;
  }
  img.uabb-photo-img.wp-image-1163565.size-medium {
    width: 200px !important;
    text-align: center;
    margin: 0 auto;
  }

  .uabb-gf-style.uabb-gf-form-style1 {
    padding: 50px;
  }
}



@media (max-width: 480px) {
    .facetwp-template .product-grid .product-row > .col-md-4 {
      width: 100% !important;
      clear: left !important;
    }
  }


